<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BOW</title>
</head>

<body>
    <h1>Equipments</h1>
    <form action="/adde" method="POST">
        <input type="text" placeholder="Source" name="src">
        <input type="text" placeholder="name" name="name">
        <textarea rows = "3" cols="20" type="text" placeholder="Description" name="desc"></textarea>
        <input type="text" placeholder="price" name="price">
        <button type="submit">Submit</button>
    </form>
<ul class="equipments">
            <% for(var i=0; i<equipments.length; i++) {%>
                <li>
                    <span><%= equipments[i].name %></span>
                    <%= equipments[i].price %>$<br>
                    <%= equipments[i].desc %>
                </li>
                <% } %>
        </ul>
</body>

</html>
