<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BOW</title>
</head>

<body>
    <h1>Add-ons</h1>
    <form action="/addo" method="POST">
        <input type="text" placeholder="Source" name="src">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Price" name="price">
        <textarea rows = "3" cols="20" type="text" placeholder="Description" name="desc"></textarea>
        <button type="submit">Submit</button>
    </form>
    <ul class="addons">
        <% for(var i=0; i<addons.length; i++) {%>
            <li>
                <span><%= addons[i].name %></span>
                <span><%= addons[i].price %></span><br>
                <%= addons[i].desc %>
            </li>
            <% } %>
    </ul>
</body>

</html>
