<!DOCTYPE html>
<html lang="en">

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        background: ghostwhite;
    }

    .image {
        width: 100%;
        /* for IE 6 */
    }

    .onImage {
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .onImage h1 {
        font-size: 80px;
        color: black;
    }

    .onImage h5 {
        font-size: 30px;
        color: black;
    }

    .onImage button {
        width: 140px;
        height: 35px;
        background: royalblue;
        color: white;
    }

    div {
        float: left;
    }

    #left {
        width: 32%;
        margin: 7px;
    }

    #center {
        margin: 7px 0;
        width: 32%;
    }

    #right {
        margin: 7px;
        width: 31%;
    }

    h2 {
        color: royalblue;
    }

    .vehicles {
        text-align: center;
        list-style: none;
    }

    .equipments {
        text-align: center;
        list-style: none;
    }

    .addons {
        text-align: center;
        list-style: none;
    }

    .about {
        width: 97%;
        margin: 10px 30px 10px 30px;
    }

    .about li {
        margin-bottom: 5px;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background: white;
    }

    /* On mouse-over, add a deeper shadow */

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */

    .container {
        padding: 2px 16px;
    }

    .menuUl {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        position: fixed;
        opacity: 0.8;
        width: 100%;
        overflow: hidden;
        background-color: royalblue;
    }

    .menuUl li {
        float: left;
    }

    .menuUl li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .menuUl li a:hover {
        background-color: #111;
    }

    footer a:visited {
        color: #aebdc6;
    }
    footer a{
        text-decoration:none;
    }

</style>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>BOW</title>
</head>

<body>
    <ul class="menuUl">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#products">Products</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div style="margin-top: 65px;">
        <img width="50%" src="https://i.imgur.com/sY6Szgv.jpg">
        <div id="contact" class="contact" align="center" style="width: 50%; float: left; ">
            <h1>Contact Us</h1>
            <h2>See us in person!</h2>
            <h3>We are curious to meet and engage with you</h3>
            <h2>Beirut On Wheels</h2>
            <h3>Beirut, Lebanon</h3>
            <h3>+961 71 840456</h3>
            <a href="mailto:omarosman562@gmail.com" target="_top">info@beirutonwheels.com</a>
            <br><br>
            <i class="fa fa-facebook" style="color: #3b5999; font-size:36px; margin-right: 20px;"></i>
            <i class="fa fa-twitter" style="color: #55acee; font-size:36px; margin-right: 20px;"></i>
            <i class="fa fa-instagram" style="color: #e4405f; font-size:36px;"></i>

        </div>
    </div>
</body>
<footer>
    <div style="background: #626262; color: white; padding: 3% 0% 3% 0%; width: 100%;">
        <div id="left" style="margin-left: 3%;">
            <h3 style="margin: 0px;">The best car dealership in Lebanon</h3><br> We believe that customer service is the innovative marketing; the happier the customer the more success we will have.
        </div>
        <div id="center" style="margin-left: 8%; width: 25%">
            <h3 style="margin: 0px;">Our Products</h3>
            <ul style="-webkit-padding-start: 20px;">
                <li style="color: #aebdc6; visited{ color: gray }"><a href="/#products">Vehicles</a></li>
                <li style="color: #aebdc6;"><a href="/#products">Equipments</a></li>
                <li style="color: #aebdc6;"><a href="/#products">Addons</a></li>
            </ul>
        </div>
        <div id="right" style="margin: 0px; width: 20%;">
            <h3 style="margin: 0px; margin-top: 10px;">Let's get in touch!</h3><br>
            <i class="fa fa-envelope" style="color: #aebdc6; font-size:17px; margin-right: 10px;"></i><a style="color: #fff;" href="mailto:omarosman562@gmail.com" target="_top">info@beirutonwheels.com</a><br><br>
            <i class="fa fa-phone" style="color: #aebdc6; font-size:17px; margin-right: 10px;"></i>+961 71 840456
        </div>
    </div>
</footer>

</html>
<script type="text/javascript">
    function scrolldown(id) {
        scrollTo(document.getElementById(id));
    }

    function scrollTo(element) {
        window.scroll({
            behavior: 'smooth',
            left: 0,
            top: element.offsetTop
        });
    }

</script>
