<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    
    html,
    body {
        height: 100%;
        margin: 0;
        background: ghostwhite;
    }

    .image {
        width: 100%;
        /* for IE 6 */
    }

    .onImage {
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .onImage h1 {
        font-size: 80px;
        color: black;
    }

    .onImage h5 {
        font-size: 30px;
        color: black;
    }

    .onImage button {
        width: 140px;
        height: 35px;
        background: royalblue;
        color: white;
    }

    div {
        float: left;
    }

    #left {
        width: 32%;
        margin: 7px;
    }

    #center {
        margin: 7px 0;
        width: 32%;
    }

    #right {
        margin: 7px;
        width: 31%;
    }

    h2 {
        color: royalblue;
        text-align: center;
    }

    .vehicles {
        text-align: center;
        list-style: none;
    }

    .equipments {
        text-align: center;
        list-style: none;
    }

    .addons {
        text-align: center;
        list-style: none;
    }

    .about {
        width: 97%;
        margin: 10px 30px 10px 30px;
    }

    .about li {
        margin-bottom: 5px;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background: white;
    }

    /* On mouse-over, add a deeper shadow */

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */

    .container {
        padding: 2px 16px;
    }

    .menuUl {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        overflow: hidden;
        position: fixed;
        opacity: 0.8;
        width: 100%;
        background-color: royalblue;
    }

    .menuUl li {
        float: left;
    }

    .menuUl li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .menuUl li a:hover {
        background-color: #111;
    }
    
    .menuUl .nexttoright{
        float: right;
    }
    .menuUl .right{
        float: right;
        margin-right: 30px;
    }
    
</style>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>BOW</title>
</head>

<body>
    <ul class="menuUl">
        <li><a class="active" onclick="#home">Home</a></li>
        <li><a onclick="scrolldown('about')">About</a></li>
        <li><a onclick="scrolldown('products')">Products</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class = "right"><a href="/login">Login</a></li>
        <li class = "nexttoright"><a href="/signup">Sign Up</a></li>
    </ul>
    <div class="image">
        <img width="100%" src="https://i.imgur.com/8t8EmM5.jpg">
        <div class="onImage">
            <h1>Beirut on Wheels</h1>
            <h5>Eye it, try it, then buy it</h5>
            <br>
            <button onclick="scrolldown('products')">Our Products</button>
        </div>
    </div>
    <div id="about" class="about">
        <h1 align="center">About Us</h1>
        <div id="left">
            <h2>WHAT</h2>
            <div class="card" style="padding: 2%;">
                <p>Beirut on Wheels (BOW) is a virtual car dealership composed of expert staff members that work in a variety of different departments within the building that includes:
                    <ul>
                        <li>Showroom where the best cars are displayed.</li>
                        <li>Garage where cars are stored until they are needed.</li>
                        <li>Fixing garage that has two main functions: the first one is repairing damaged vehicles, and the second one is adding adjustments to vehicles based on the customer's requirements.</li>
                        <li>Equipment store that allows customers to not only buy cars, but to have the capability of fulfilling all other possible needs that they may have regarding their cars.</li>
                    </ul>
            </div>
        </div>
        <div id="center">
            <h2>WHO</h2>
            <div class="card" style="padding: 2%;">
                <p>The team of BOW is composed of 4 talented Co-Founders:</p>
                <ul>
                    <li>Ramzi Haraty<br> Founder and CEO</li>
                    <li>Nader Kahwaji<br> Mechanical Engineering Team Lead</li>
                    <li>Ahmad Nsouli<br> HR Director</li>
                    <li>Charbel Bathiche<br> Finance and Accounting Department Director</li>
                    <li>Charbel Ghorra<br>Sales Department Team Leader</li>
                </ul>
            </div>
        </div>
        <div id="right">
            <h2>WHY</h2>
            <div class="card" style="padding: 2%;">
                Even though making financial profit is the main goal, BOW will only provide its customers with nothing but fair prices. Also, it will make sure that every single car in display is in perfect conditions:
                <ul>
                    <li>Presentable inside and out (rust free).</li>
                    <li>Runs and drives smoothly without the need for any mechanical work.</li>
                    <li>Clean engine whch has no flaws or fluid leaks...</li>
                    <li>The option to opt for an insurance company that will be provided by a third party member.</li>
                    <li>Choose from an array of cars and add-ons; options can go from: a rear camera, color of the exterior and interior, all the way to whether the car is automatic or manual. </li>
                </ul>
                We believe that customer service is the innovative marketing; the happier the customer the more success we will have.
            </div>
        </div>
    </div>
    <div id="products">
        <h1 align="center">Our Products</h1>
        <div id="left">
            <h2>Vehicles</h2>

            <ul class="vehicles">
                <% for(var i=0; i<vehicles.length; i++) { %>
                    <li>
                        <div class="card" style = "padding: 2% 0%;">
                            <img style="width: 50%;" src="<%= vehicles[i].src %>">
                            <div class="container">
                                <p>Brand:
                                    <%= vehicles[i].brand %>
                                </p>
                                <p>Model:
                                    <%= vehicles[i].model %>
                                </p>
                                <p>Type:
                                    <%= vehicles[i].type %>
                                </p>
                                <p>Price:
                                    <%= vehicles[i].price %>$</p>
                                <p style="color: <%= vehicles[i].color %>">Color:
                                    <%= vehicles[i].color %>
                                </p>
                                <% if ( vehicles[i].sale == "For Sale" ) { %>
                                    <p style="color: green;">Sale:
                                        <%= vehicles[i].sale %>
                                    </p>
                                    <% } else { %>
                                        <p style="color: red;">Sale:
                                            <%= vehicles[i].sale %>
                                    <% } %>
                                    <p>Transmission:
                                                        <%= vehicles[i].transmission %>
                                    </p>
                                    Rent it<i onclick="alert('Please sign in to rent a vehicle')" style = "font-size: 25px; color: gray; margin-left: 5px;" class = "fa fa-car"></i>
                                    Test it<i onclick="alert('Please sign in to test a vehicle')" style = "font-size: 25px; color: gray; margin-left: 5px;" class = "fa fa-calendar"></i>
                            </div>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div id="center">
            <h2>Equipments</h2>
            <ul class="equipments">
                <% for(var i=0; i<equipments.length; i++) {%>
                    <li>
                        <div class="card">
                            <img style="width: 50%;" src="<%= equipments[i].src %>">
                            <div class="container"> <span><b><%= equipments[i].name %></b></span>
                                <span style="color: green;"><%= equipments[i].price %>$</span><br>
                                <%= equipments[i].desc %>
                            </div>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div id="right">
            <h2>Add-ons</h2>
            <ul class="addons">
                <% for(var i=0; i<addons.length; i++) {%>
                    <li>
                        <div class="card" style = "padding: 2% 0%;">
                            <img style="width: 50%;" src="<%= addons[i].src %>">
                            <div class="container"> <span><b><%= addons[i].name %></b></span>
                                <span style="color: green;"><%= addons[i].price %>$</span><br>
                                <%= equipments[i].desc %>
                            </div>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</body>
<footer>
    <div style = "background: #626262; color: white; padding: 3% 0% 3% 0%; width: 100%;">
        <div id="left" style = "margin-left: 3%;">
            <h3 style = "margin: 0px;">The best car dealership in Lebanon</h3><br>
            We believe that customer service is the innovative marketing; the happier the customer the more success we will have.
        </div>
        <div id="center" style = "margin-left: 8%; width: 25%">
            <h3 style = "margin: 0px;">Our Products</h3>
            <ul style = "-webkit-padding-start: 20px;">
                <li style = "color: #aebdc6;"><a onclick="scrolldown('products')">Vehicles</a></li>
                <li style = "color: #aebdc6;"><a onclick="scrolldown('products')">Equipments</a></li>
                <li style = "color: #aebdc6;"><a onclick="scrolldown('products')">Addons</a></li>
            </ul>
        </div>
        <div id="right" style = "margin: 0px; width: 20%;">
            <h3 style="margin: 0px; margin-top: 10px;">Let's get in touch!</h3><br>
            <i class="fa fa-envelope" style="color: #aebdc6; font-size:17px; margin-right: 10px;"></i><a style = "color: #fff;"href="mailto:omarosman562@gmail.com" target="_top">info@beirutonwheels.com</a><br><br>
             <i class="fa fa-phone" style="color: #aebdc6; font-size:17px; margin-right: 10px;"></i>+961 71 840456
        </div>
    </div>
</footer>

</html>
<script type="text/javascript">
    function scrolldown(id) {
        scrollTo(document.getElementById(id));
    }

    function scrollTo(element) {
        window.scroll({
            behavior: 'smooth',
            left: 0,
            top: element.offsetTop
        });
    }

</script>
