<!DOCTYPE html>
<html lang="en">


<style>
    html,
    body {
        height: 100%;
        margin: 0;
        background: ghostwhite;
    }

    .image {
        width: 100%;
        /* for IE 6 */
    }

    .onImage {
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .onImage h1 {
        font-size: 80px;
        color: black;
    }

    .onImage h5 {
        font-size: 30px;
        color: black;
    }

    .onImage button {
        width: 140px;
        height: 35px;
        background: royalblue;
        color: white;
    }

    div {
        float: left;
    }

    #left {
        width: 32%;
        margin: 7px;
    }

    #center {
        margin: 7px 0;
        width: 32%;
    }

    #right {
        margin: 7px;
        width: 31%;
    }

    h2 {
        color: royalblue;
    }

    .vehicle {
        text-align: center;
        list-style: none;
    }

    .equipments {
        text-align: center;
        list-style: none;
    }

    .addons {
        text-align: center;
        list-style: none;
    }

    .about {
        width: 97%;
        margin: 10px 30px 10px 30px;
    }

    .about li {
        margin-bottom: 5px;
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        background: white;
    }

    /* On mouse-over, add a deeper shadow */

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */

    .container {
        padding: 2px 16px;
    }

    .menuUl {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        position: fixed;
        opacity: 0.8;
        width: 100%;
        overflow: hidden;
        background-color: royalblue;
    }

    .menuUl li {
        float: left;
    }

    .menuUl li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .menuUl li a:hover {
        background-color: #111;
    }

    footer a:visited {
        color: #aebdc6;
    }

    footer a {
        text-decoration: none;
    }

    form{
        text-align: center;
    }
    input{
        margin: 10px;
    }
    
</style>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>BOW</title>
</head>

<body style = "">
       <div style="width: 100%; margin: 100.5px 0px; text- align: center;">
        
        <div style = "text-align center; width: 50%; margin-left: 20px;" class="card" style = "padding: 2% 0%;">
                            <img style="width: 50%;" src="<%= vehicle.src %>">
                            <div class="container">
                                <p>Brand:
                                    <%= vehicle.brand %>
                                </p>
                                <p>Model:
                                    <%= vehicle.model %>
                                </p>
                                <p>Type:
                                    <%= vehicle.type %>
                                </p>
                                <p>Price:
                                    <%= vehicle.price %>$</p>
                                <p style="color: <%= vehicle.color %>">Color:
                                    <%= vehicle.color %>
                                </p>
                                <% if ( vehicle.sale == "For Sale" ) { %>
                                    <p style="color: green;">Sale:
                                        <%= vehicle.sale %>
                                    </p>
                                    <% } else { %>
                                        <p style="color: red;">Sale:
                                            <%= vehicle.sale %>
                                    <% } %>
                                    <p>Transmission:
                                                        <%= vehicle.transmission %>
                                    </p>
                            </div>
                        </div>
        <form align = "center" style = "height: 300px; float: right; margin-right: 200px;">
           <h1 align = "center" style="margin-top: 0;">Rent this Car!</h1>
            <input id = "username" type="text" placeholder="Username" name="username" value = "<%= username %>"><br>
            <input type="text" id = "number" placeholder="Card Number" name="number"><br>
            <p style="margin-bottom: 0;">Expiration Date</p><input type="date" id = "date" placeholder="Expires" name="expires"><br>
            <input type="number" id = "security" placeholder="Security Code" name="security"><br>
            <input type="button" value = "Rent Car" onclick = "isEmpty()">
            <p id="wrong" style="color: red; display: none;">Both fields are required</p>
            <p id="correct" style=" color: green; display: none;">Test Driving session is booked!<br> You will receive an email with details shortly.</p>
        </form>
        </div>
</body>
<footer>
    <div style="background: #626262; color: white; padding: 40px 0px 41px 0px; width: 100%;">
        <div id="left" style="margin-left: 3%;">
            <h3 style="margin: 0px;">The best car dealership in Lebanon</h3><br> We believe that customer service is the innovative marketing; the happier the customer the more success we will have.

        </div>
        <div id="center" style="margin-left: 8%; width: 25%">
            <h3 style="margin: 0px;">Our Products</h3>
            <ul style="-webkit-padding-start: 20px;">
                <li style="color: #aebdc6;"><a href="/#products">vehicle</a></li>
                <li style="color: #aebdc6;"><a href="/#products">Equipments</a></li>
                <li style="color: #aebdc6;"><a href="/#products">Addons</a></li>
            </ul>
        </div>
        <div id="right" style="margin: 0px; width: 20%;">
            <h3 style="margin: 0px; margin-top: 10px;">Let's get in touch!</h3><br>
            <i class="fa fa-envelope" style="color: #aebdc6; font-size:17px; margin-right: 10px;"></i><a style="color: #fff;" href="mailto:omarosman562@gmail.com" target="_top">info@beirutonwheels.com</a><br><br>
            <i class="fa fa-phone" style="color: #aebdc6; font-size:17px; margin-right: 10px;"></i>+961 71 840456
        </div>
    </div>
</footer>

</html>
<script type="text/javascript">
    function scrolldown(id) {
        scrollTo(document.getElementById(id));
    }

    function scrollTo(element) {
        window.scroll({
            behavior: 'smooth',
            left: 0,
            top: element.offsetTop
        });
    }

    function isEmpty() {
        console.log('test')
        var bool1 = true;
        var bool2 = true;
        var bool3 = true;
        var bool4 = true;
        if (document.getElementById("username").value == '') {
            document.getElementById("username").style.borderColor = "red";
            bool1 = false;
        }
        if (document.getElementById("security").value == '') {
            document.getElementById("security").style.borderColor = "red";
            bool1 = false;
        }
        if (document.getElementById("date").value == '') {
            document.getElementById("date").style.borderColor = "red";
            bool3 = false;
        }
        if (document.getElementById("number").value == '') {
            document.getElementById("number").style.borderColor = "red";
            bool2 = false;
        }
        if (bool1 == false || bool2 == false || bool3 == false) {
            document.getElementById("wrong").style.display = "block";
            document.getElementById("correct").style.display = "none";
            return false;
        }
        document.getElementById("username").style.borderColor = "gray";
        document.getElementById("wrong").style.display = "none";
        document.getElementById("number").style.borderColor = "gray";
        document.getElementById("date").style.borderColor = "gray";
        document.getElementById("security").style.borderColor = "gray";
        document.getElementById("correct").style.display = "block";
        return true;
    }
</script>
