<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BOW</title>
    <style>
        body{
            background: ghostwhite;
            text-align: center;
        }
        table{
            margin: 0 auto;
        }
        thead{
            color: blue;
        }
        td{
            padding: 4px;
        }
        table input {
            width: 100px;
        }
    </style>
</head>

<body>
    <h1>Vehicles</h1><br><br>
    <form action="/addv" method="POST">
        <input type="text" placeholder="Source" name="src"><br>
        <input type="text" placeholder="Brand" name="brand"><br>
        <input type="text" placeholder="Model" name="model"><br>
        <input type="text" placeholder="Type" name="type"><br>
        <input type="text" placeholder="Price" name="price"><br>
        <input type="text" placeholder="Color" name="color"><br>
        <input type="radio" value="For Sale" name="sale">for sale
        <input type="radio" value="Sold" name="sale">sold out<br>
        <input type="text" placeholder="Transmission" name="transmission"><br>
        <button type="submit">Submit</button>
    </form>
    <br><br><br><br>
    <table border="1">
        <thead>
            <tr>
                <td>Brand</td>
                <td>Model</td>
                <td>Type</td>
                <td>Price ($)</td>
                <td>Color</td>
                <td>Status</td>
                <td>Transmission</td>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<vehicles.length; i++) {%>
                <% if (vehicles[i].brand == result.brand) { %>
                   <tr>
                   <form action = "/updatev/<%= vehicles[i]._id %>" method = "POST">
                    <td><input type = text name = "brand" value ="<%= vehicles[i].brand %>"></td>    
                    <td><input type = text name = "model" value ="<%= vehicles[i].model %>"></td>    
                    <td><input type = text name = "type" value ="<%= vehicles[i].type %>"></td>    
                    <td><input type = text name = "price" value ="<%= vehicles[i].price %>"></td>    
                    <td><input type = text name = "color" value ="<%= vehicles[i].color %>"></td>    
                    <td><input type = text name = "sale" value ="<%= vehicles[i].sale %>"></td>    
                    <td><input type = text name = "transmission" value ="<%= vehicles[i].transmission %>"></td>    
                    <td><input type = "submit" style="background: green" href = "editv/<%= vehicles[i]._id %>" value = "Done"></td>
                    <td><a style="color: red" href = "deletev/<%= vehicles[i]._id %>">Delete</a></td>
                    </form>
                </tr>
                <% } else { %>
                   <tr>
                    <td><%= vehicles[i].brand %></td>    
                    <td><%= vehicles[i].model %></td>    
                    <td><%= vehicles[i].type %></td>    
                    <td><%= vehicles[i].price %></td>    
                    <td><%= vehicles[i].color %></td>    
                    <td><%= vehicles[i].sale %></td>    
                    <td><%= vehicles[i].transmission %></td>    
                    <td><a style="color: green" href = "editv/<%= vehicles[i]._id %>">Edit</a></td>
                    <td><a style="color: red" href = "deletev/<%= vehicles[i]._id %>">Delete</a></td>
            </tr>
                <% } }%>
        </tbody>
    </table>
    
</body>

</html>
